section#banner div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
  }
  .banner-content h1 {
    color: #ff4081;
    font-size: 60px;
  }
  
  .banner-content p {
    font-size: 20px;
    color: #555555;
    max-width: 460px;
  }
  
  .banner-content a {
  }
  
  .banner-image {
    padding: 40px;
  }
  
  .banner-image img {
    width: 100%;
  }

  .title {
    padding: 80px;
}
.title h1 {
    color: #FF4081;
    font-size: 35px;
    font-weight: 700;
}

.title p {
    font-size: 20px;
    font-weight: 400;
}

.container {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-left: 100px;
 margin-right: 100px;
 margin-bottom: 200px;
 text-align: justify;
 gap: 40px;
}
.card {
display: flex;
align-items: center;
max-width: 900px;
}
.container-card {

}
.iframe-card {
    display: flex;
    justify-content: flex-start;
    max-width: 380px;
    max-height: 385px;
    margin-right: 80px;
}
.card h3 {
    color: #FF4081;
    font-size: 35px;
    font-weight: 700;
}
.button-green {
}
